.flow-node.flow-event {
  @apply w-20 h-20 text-word2 text-xs flex justify-center items-center pointer-events-auto select-none border-2 border-rose-400 border-dashed;

  &.throw-event {
    @apply w-50 h-20 pointer-events-auto rounded-lg bg-danger3 text-danger6 text-sm font-medium border-3 border-danger6;
  }

  &.start-event,
  &.end-event {
    @apply w-10 h-10 border-solid border-2 text-backdrop2 rounded-full;
  }
  &.start-event {
    @apply border-success5 bg-success5;
  }
  &.end-event {
    @apply border-rim4 bg-(--akir-grey-6);
  }
}

.flow-node.flow-task {
  @apply w-50 h-20 pointer-events-auto;

  .flow-node_header {
    @apply text-backdrop2 bg-primary4;
  }
}

.flow-node.flow-service {
  @apply w-50 h-20 pointer-events-auto;

  .flow-node_header {
    @apply text-backdrop2 bg-success4;
  }
}

.flow-node.flow-expression {
  @apply w-50 h-20 pointer-events-auto;

  .flow-node_header {
    @apply text-backdrop2 bg-warning4;
  }
}

.flow-node.flow-subprocess {
  @apply border-2 border-rim2 rounded-lg drop-shadow-none;

  > .flow-node_header {
    @apply bg-orange-300 text-backdrop3 font-medium pointer-events-auto;
  }
}

.flow-node.flow-gateway {
  @apply relative pointer-events-none bg-transparent shadow-none;
  border: unset;

  .akir-flow_wrapper {
    @apply rounded-sm;
  }

  .gateway-node__behavior {
    @apply flex justify-center items-center absolute z-100 pointer-events-auto;
  }

  .gateway-node__branches {
    @apply w-full h-full flex flex-row flex-nowrap relative box-border overflow-hidden;
  }

  .branch-col {
    @apply relative overflow-hidden box-border shrink-0 grow-0;
  }

  .branch-col > .branch-col_content > .akir-flow_wrapper > .akir-flow_container > .flow-node__wrapper {
    &:last-child > .flow-node__behavior::after {
      content: unset;
    }
  }
}

.akir-flow_vertical {
  .flow-subprocess {
    @apply min-w-md;
    & > .akir-flow_wrapper {
      @apply p-4;
    }
  }

  .flow-gateway {
    @apply pt-4;

    .gateway-node__behavior {
      @apply w-full h-8 top-0 left-1/2;
      transform: translate(-50%, 0);
    }

    .gateway-node__branches {
      @apply flex-row;
    }

    .gateway-node__branches > .branch-col {
      @apply flex flex-col items-center;

      &:first-child {
        > .branch-col_prefix {
          @apply self-end border-l-2 border-rim3;
          width: calc(50% + 1px);

          &::before {
            content: unset;
          }
        }

        > .branch-col_suffix {
          @apply self-end border-l-2 border-rim3;
          border-right: none;
          width: calc(50% + 1px);

          &::before {
            content: unset;
          }
        }
      }

      &:last-child {
        > .branch-col_prefix {
          @apply self-start border-r-2 border-rim3;
          width: calc(50% + 1px);

          &::before {
            content: unset;
          }
        }

        > .branch-col_suffix {
          @apply self-start border-r-2 border-rim3;
          width: calc(50% + 1px);

          &::before {
            content: unset;
          }
        }
      }

      & > .branch-col_content {
        @apply px-4 py-0 box-border;
      }

      & > .branch-col_prefix {
        @apply w-full h-10.5 shrink-0 border-t-2 border-rim3 relative box-border;
        &::before {
          @apply absolute top-0 bottom-0 left-1/2 w-0.5 bg-rim3;
          content: '';
        }
      }

      & > .branch-col_suffix {
        @apply w-full h-full flex-1 border-b-2 border-rim3 box-border relative;
        &::before {
          @apply absolute top-0 bottom-0 left-1/2 w-0.5 bg-rim3;
          content: '';
        }
      }

      .akir-flow_container {
        @apply p-0 overflow-visible;
      }
    }
  }
}

.akir-flow_horizontal {
  .flow-subprocess {
    & > .akir-flow_wrapper {
      @apply px-4 py-2;
    }
  }

  .flow-gateway {
    @apply pl-10.5;

    .gateway-node__behavior {
      @apply h-full w-21 left-0 top-1/2 translate-x-0 -translate-y-1/2 justify-start;
    }

    .gateway-node__branches {
      @apply grid grid-cols-[1fr] grid-rows-[auto];
    }

    .gateway-node__branches > .branch-col {
      @apply flex flex-row items-center;

      &:first-child {
        > .branch-col_prefix {
          @apply self-end border-t-2 border-rim3;
          height: calc(50% + 1px);

          &::before {
            @apply content-none;
          }
        }

        > .branch-col_suffix {
          @apply self-end border-t-2 border-rim3;
          height: calc(50% + 1px);

          &::before {
            @apply content-none;
          }
        }
      }

      &:last-child {
        > .branch-col_prefix {
          @apply self-start border-b-2 border-rim3;
          height: calc(50% + 1px);

          &::before {
            @apply content-none;
          }
        }

        > .branch-col_suffix {
          @apply self-start border-b-2 border-rim3;
          height: calc(50% + 1px);

          &::before {
            @apply content-none;
          }
        }
      }

      & > .branch-col_content {
        @apply px-0 py-4 box-border;
      }

      & > .branch-col_prefix {
        @apply h-full w-10.5 shrink-0 grow-0 border-l-2 border-rim3 box-border relative;

        &::before {
          @apply left-0 right-0 top-1/2 border-t-2 absolute;
          content: '';
        }
      }

      & > .branch-col_suffix {
        @apply h-full w-full flex-1 border-r-2 border-rim3 box-border relative;

        &::before {
          @apply h-0.5 left-0 right-0 top-1/2 border-t-2 absolute bg-rim3;
          content: '';
        }
      }

      .akir-flow_container {
        @apply p-0 overflow-visible;
      }
    }
  }
}
