:root {
  /* primary */
  --akir-primary-1: 232, 243, 255; // 浅色
  --akir-primary-2: 190, 218, 255; // 文字禁用
  --akir-primary-3: 148, 191, 255; // 一般禁用
  --akir-primary-4: 106, 161, 255; // 特殊场景
  --akir-primary-5: 64, 128, 255; // 悬浮
  --akir-primary-6: 22, 93, 255; // 常规
  --akir-primary-7: 14, 66, 210; // 点击

  /* link */
  --akir-link-1: 79, 70, 229;
  --akir-link-2: 5, 119, 72;

  /* background */
  --akir-bg-1: 240, 242, 245; // 整体背景色
  --akir-bg-2: 255, 255, 255; // 一级容器背景
  --akir-bg-3: 248, 250, 252; // 二级容器背景
  --akir-bg-4: 229, 231, 235; // 三级容器背景
  --akir-bg-white: 255, 255, 255;

  /* font, border */
  --akir-grey-1: 247, 248, 250; // 填充(浅)
  --akir-grey-2: 242, 243, 245; // 边框(浅), 填充(常规)
  --akir-grey-3: 229, 230, 235; // 边框(一般), 填充(深)
  --akir-grey-4: 201, 205, 212; // 边框(深), 填充(重), 文字(置灰信息)
  --akir-grey-5: 169, 174, 184;
  --akir-grey-6: 134, 144, 156; // 边框(重), 文字(次要信息)
  --akir-grey-7: 107, 119, 133;
  --akir-grey-8: 78, 89, 105; // 文字(次强调/正文标题)
  --akir-grey-9: 39, 46, 59;
  --akir-grey-10: 29, 33, 41; // 文字(强调/正文标题)
}

html[data-theme='dark'] {
  /* primary */
  --akir-primary-1: 234, 244, 255;
  --akir-primary-2: 190, 218, 255;
  --akir-primary-3: 147, 190, 255;
  --akir-primary-4: 104, 159, 255;
  --akir-primary-5: 60, 126, 255;
  --akir-primary-6: 48, 111, 255;
  --akir-primary-7: 29, 77, 210;

  /* link */
  --akir-link-1: 124, 126, 244;
  --akir-link-2: 16, 185, 129;

  /* background */
  --akir-bg-1: 23, 23, 26; // 整体背景色
  --akir-bg-2: 35, 35, 36; // 一级容器背景
  --akir-bg-3: 42, 42, 43; // 二级容器背景
  --akir-bg-4: 49, 49, 50; // 三级容器背景
  --akir-bg-white: 246, 246, 246;

  /* font, border */
  --akir-grey-1: 23, 23, 26; // 填充(浅)
  --akir-grey-2: 46, 46, 48; // 边框(浅), 填充(常规)
  --akir-grey-3: 72, 72, 73; // 边框(一般), 填充(深)
  --akir-grey-4: 95, 95, 96; // 边框(深), 填充(重), 文字(置灰信息)
  --akir-grey-5: 120, 120, 122;
  --akir-grey-6: 146, 146, 147; // 边框(重), 文字(次要信息)
  --akir-grey-7: 107, 119, 133;
  --akir-grey-8: 197, 197, 197; // 文字(次强调/正文标题)
  --akir-grey-9: 223, 223, 223;
  --akir-grey-10: 246, 246, 246; // 文字(强调/正文标题)
}
