:root {
  /* primary */
  --akir-primary-1: 232, 243, 255; // 浅色
  --akir-primary-2: 190, 218, 255; // 文字禁用
  --akir-primary-3: 148, 191, 255; // 一般禁用
  --akir-primary-4: 106, 161, 255; // 特殊场景
  --akir-primary-5: 64, 128, 255; // 悬浮
  --akir-primary-6: 22, 93, 255; // 常规
  --akir-primary-7: 14, 66, 210; // 点击

  /* success */
  --akir-success-1: 232, 255, 234;
  --akir-success-2: 175, 240, 181;
  --akir-success-3: 123, 225, 136;
  --akir-success-4: 76, 210, 99;
  --akir-success-5: 35, 195, 67;
  --akir-success-6: 0, 180, 42;
  --akir-success-7: 0, 154, 41;

  /* warning */
  --akir-warning-1: 255, 243, 232;
  --akir-warning-2: 253, 221, 195;
  --akir-warning-3: 252, 197, 159;
  --akir-warning-4: 250, 172, 123;
  --akir-warning-5: 249, 144, 87;
  --akir-warning-6: 247, 114, 52;
  --akir-warning-7: 204, 81, 32;

  /* link */
  --akir-link-1: 79, 70, 229;
  --akir-link-2: 5, 119, 72;

  /* background */
  --akir-bg-1: 240, 242, 245; // 整体背景色
  --akir-bg-2: 255, 255, 255; // 一级容器背景
  --akir-bg-3: 248, 250, 252; // 二级容器背景
  --akir-bg-4: 229, 231, 235; // 三级容器背景
  --akir-bg-white: 255, 255, 255;

  /* font, border */
  --akir-grey-1: 247, 248, 250; // 填充(浅)
  --akir-grey-2: 242, 243, 245; // 边框(浅), 填充(常规)
  --akir-grey-3: 229, 230, 235; // 边框(一般), 填充(深)
  --akir-grey-4: 201, 205, 212; // 边框(深), 填充(重), 文字(置灰信息)
  --akir-grey-5: 169, 174, 184;
  --akir-grey-6: 134, 144, 156; // 边框(重), 文字(次要信息)
  --akir-grey-7: 107, 119, 133;
  --akir-grey-8: 78, 89, 105; // 文字(次强调/正文标题)
  --akir-grey-9: 39, 46, 59;
  --akir-grey-10: 29, 33, 41; // 文字(强调/正文标题)
}

html[data-theme='dark'] {
  /* primary */
  --akir-primary-1: 234, 244, 255;
  --akir-primary-2: 190, 218, 255;
  --akir-primary-3: 147, 190, 255;
  --akir-primary-4: 104, 159, 255;
  --akir-primary-5: 60, 126, 255;
  --akir-primary-6: 48, 111, 255;
  --akir-primary-7: 29, 77, 210;

  /* success */
  --akir-success-1: 235, 255, 236;
  --akir-success-2: 178, 240, 183;
  --akir-success-3: 126, 225, 139;
  --akir-success-4: 80, 210, 102;
  --akir-success-5: 39, 195, 70;
  --akir-success-6: 29, 180, 64;
  --akir-success-7: 18, 154, 55;

  /* warning */
  --akir-warning-1: 255, 244, 235;
  --akir-warning-2: 253, 222, 197;
  --akir-warning-3: 252, 198, 161;
  --akir-warning-4: 250, 173, 125;
  --akir-warning-5: 249, 146, 90;
  --akir-warning-6: 247, 126, 69;
  --akir-warning-7: 204, 87, 41;

  /* link */
  --akir-link-1: 124, 126, 244;
  --akir-link-2: 16, 185, 129;

  /* background */
  --akir-bg-1: 23, 23, 26; // 整体背景色
  --akir-bg-2: 35, 35, 36; // 一级容器背景
  --akir-bg-3: 42, 42, 43; // 二级容器背景
  --akir-bg-4: 49, 49, 50; // 三级容器背景
  --akir-bg-white: 246, 246, 246;

  /* font, border */
  --akir-grey-1: 23, 23, 26; // 填充(浅)
  --akir-grey-2: 46, 46, 48; // 边框(浅), 填充(常规)
  --akir-grey-3: 72, 72, 73; // 边框(一般), 填充(深)
  --akir-grey-4: 95, 95, 96; // 边框(深), 填充(重), 文字(置灰信息)
  --akir-grey-5: 120, 120, 122;
  --akir-grey-6: 146, 146, 147; // 边框(重), 文字(次要信息)
  --akir-grey-7: 107, 119, 133;
  --akir-grey-8: 197, 197, 197; // 文字(次强调/正文标题)
  --akir-grey-9: 223, 223, 223;
  --akir-grey-10: 246, 246, 246; // 文字(强调/正文标题)
}
