.akir-bpmn-modeler {
  .bjs-container {
    &:focus-visible {
      outline: none;
    }

    .djs-container {
      & > svg:focus {
        outline: none;
      }

      .djs-palette {
        width: 10rem !important;
        --uno: h-full p-3 bg-backdrop2 left-0 top-0 overflow-auto border-0 border-r border-rim2;

        .djs-palette-entries {
          .group .entry {
            --uno: w-full flex justify-start items-center gap-3 px-2 py-8;
          }
        }
      }
    }
  }
}
